.inline-headers h2, .inline-headers h4 {
  display: inline-block;
  vertical-align: baseline;
}

.message-sent-list-item{
  background-color: #EBFFD6 !important;
  /*border-color: black;*/
}

.unfinished-list-item{
  background-color: #FFE0C2 !important;
  /*border-color: black;*/
}

.finished-list-item{
  background-color: #F5D6CC !important;
  /*border-color: black;*/
}


.everythingOnOneLine {
 white-space: nowrap !important;
}

.everythingOnOneLine * {
 display: inline !important;
}

.centered_input{
   text-align:center;
}

.logo_text{
  /*margin-bottom: 50px;*/
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 75px;
  color: #ffffff;
}

.intro-subline{
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 23px;
	font-weight: 700;
	line-height: 75px;
	color: #ffffff;
}

/*.navbar-center{
	float: center !important;
	text-align: center !important;
	
	display: inline-block;
    list-style-type: none;

    width: 70%;
    margin: auto;
}
*/

.navbar .navbar-nav {
  display: inline-block !important;
  float: none !important;
  vertical-align: top !important;
}

.navbar .navbar-collapse {
  text-align: center !important;
}

.color_one{
	background-color: #6dbfff;
}

.color_two{
	background-color: #d98faa;
}


