<p><strong>Order List<span id="stream_title"></span></strong></p>

<div class="panel-body inline-headers">
	<div class="list-group">
		{% for order in orders %}
		
			<a class="list-group-item finished-list-item">
				<div class="row">
					<div class = "col-md-4">
						{% if order.message_sent %}
				    	<h2 class="list-group-item-heading">{{ order.order_number }}</h2>
				    	{% else %}
				    	<h2 class="list-group-item-heading">{{ order.order_number }} (message not sent)</h2>
				    	{% endif%}

				    	<h5>{{order.mobile_number}}</h5>
			    	</div>

			    	<div class = "col-md-4">
			    		<div class="everythingOnOneLine">
				    		<h4>{{order.date.hour}}:{{order.date.minute}} &nbsp <h4>
				    		<h5>{{order.date.day}}/{{order.date.month}}/{{order.date.year}}</h5>	
			    		</div>	
			    	</div>
		    	
			    	<div class = "col-md-4">
				    	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#send_finished_modal_{{order.unique_order_id}}">
						{% if order.message_sent %}
							Send Again
						{% else %}
							Send Message
						{% endif %}
						</button>
						<div id="resend_message_status{{order.unique_order_id}}"></div>
					</div>

		    	<!-- <button type="button" class="btn btn-default" onclick="moveToFinishedList('{{order.mobile_number}}','{{order.unique_order_id}}')">Back To Order List</button>  -->
		    	</div>
		    	</a>	
	    	<!-- Send Message Modal -->
			<div id="send_finished_modal_{{order.unique_order_id}}" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Send Message</h4>
			      </div>
			      <div class="modal-body">
			        <p>Are you sure you want to send the SMS notification?</p>
			        <button type="button" class="btn btn-default" onclick="sendMessage('{{order.mobile_number}}','{{order.unique_order_id}}')" data-dismiss="modal">Send Message</button> 
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			    <!-- End Modal Content -->
			  </div>
			</div>
			<!-- End send message modal -->

	  	
	  	{% endfor %}
	</div>
</div>