<div class="text-center">    

  <p>You have <b>{{user_data.remaining_messages_counter}}</b> messages left. To purchase more messages see <a href="#payment-options">payment options</a>.</p>
</br>
<div class="col-md-4 text-center"></div>
<div class="col-md-4 text-center">
  <table class="table">

    <tr>
      <td>Average Turnaround Time</td> 
      <td>{{turnaround_time}} min</td>
    </tr>
    <tr>
      <td>Average Customer Collect Time</td> 
      <td>{{customer_collect_time}} min</td>
    </tr>
    <tr>
      <td>Orders Logged</td> 
      <td>{{orders_logged}}</td>
    </tr>

  </table>  
  <button type="button" onclick="resetStats()" id="reset_stats_button" class="btn btn-default reset_stats_button" >Reset</button>                       
</div>      
<div class="col-md-4 text-center"></div>              
  

</div>